body {
  margin: 0px;
  overflow: hidden; /* Hides scrollbars and disables scrolling */
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 15spx;
}

#title {
  display: flex;
  color: tomato;
  position: absolute;

  text-align: center;

  margin: 10px;
  left: 5%;
  top: 5%;
}

#board-zone {
  position: absolute;
  width: 90%;
  height: 50%;
  top: 12%;
  border: 1px dashed tomato;
  left: 5%;
}

#words-zone {
  position: absolute;
  width: 90%;
  height: 30%;
  bottom: 3%;
  /* border: 1px dashed tomato; */
  left: 5%;
}

.word {
  position: absolute;
  /* position:fixed; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Arial", Arial, sans-serif;
  font-size: small;
  color: tomato;
  width: fit-content;
  height: fit-content;
  border: 1px dashed tomato;
  padding: 4px;

  cursor: grab;
}

#save-poem {
  position: absolute;
  top: 10%;
  padding: 10px;
  right: 3%;
  cursor: pointer;
  color: tomato;
  background-color: white;
  border: 1px dashed tomato;

  margin: 10px;
  right: 5%;
  top: 6%;
  text-align: center;
}
