#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* text-align: center; */
  flex-direction: column;

  position: relative;
  z-index: 2;

  /* position: absolute */
}

body {
  margin: 0px;
  border: 0px;
}
#background {
  display: flex;

  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  justify-content: center;
    align-items: center;
    opacity: 0.6;

}

#prompt {
  font-size: 28px;
  font-family:
    Arial Narrow,
    Arial,
    sans-serif;
}

#quote {
  max-width: 70vw;
  text-wrap: balance;
  text-align: center;
  font-size: 24px;
    font-style: italic;


  font-family:
    Arial Narrow,
    Arial,
    sans-serif;
}

#info {
  position: absolute;
  top: 1vh;
  margin: 2vw;
}

.hyperlinks {
  font-family:
    Arial Narrow,
    Arial,
    sans-serif;
  margin: 2px;
  font-size: 16px;
  max-width: 15vw;
  text-align: left;
}
