#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* text-align: center; */
  flex-direction: column;

  /* position: absolute */
}

body {
  margin: auto;
  border: 0px;
}
