        * {
            margin: 0;
            padding: 0;
        }

        .background-image {
            background-image: url('./map2.png');
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat
        }

        body {}

        @font-face {
            font-family: myfont;
            src: url('./ScratchyRegular.ttf')
        }


        .text {
            text-align: right;
            padding-top: 50px;
            padding-right: 100px;
            line-height: 1.5;


            display: flex;

            flex-direction: column;
            /* font-family: Helvetica, sans-serif; */
            /* font-family: Georgia, serif; */

            /* justify-content: flex-end; */
            align-items: flex-end;

            letter-spacing: 2px;

        }



        span.taller {
            display: inline-block;
            transform: scale(1, 3.0);
            padding: 1px;
            margin: 2px;
        }

        span.taller2 {
            display: inline-block;
            transform: scale(1, 1.5);
            padding: 5px;
            margin: 10px;

        }

        h1 {}

        h2 {
            padding: 10px;
        }

        p {
            /* display: flex; */
            /* justify-content: flex-end; */
            margin-top: 30px;
            width: 25vw;
            font-size: 14px;
        }

        #sea {
            opacity: 0.35;
            padding: 20px;

            width: 10vw;


        }


        .first-layer {
            position: absolute;
            top: 10vh;
            width: 10vw;

        }

        .second-layer {
            display: flex;
            position: absolute;
            top: 10vh;

            text-align: justify;

            width: 60vw;
            /* pointer-events: none; */




        }


        #literature {
            font-size: 10px;
            font-family: Helvetica, sans-serif;
            /* font-family: myfont; */
            align-items: flex-start;
            width: 10vw;
            padding: 40px;
            padding-left: 100px;
            letter-spacing: 3px;
            text-shadow: 0.5px 0.5px 1px white;
            color: red;
            text-align: left;


        }

        #sign {
            position: absolute;
            width: 25vh;
            top: 500px;
            left: 13vw;
        }

        #green-man {
            position: absolute;
            top: 400px;
            left: 400px;

            width: 10vw;

        }

        #sticker {
            position: absolute;
            top: 500px;
            left: 400px;

            width: 25vw;
        }

        #bag {
            position: absolute;
            top: 30vh;
            left: 30vw;
            width: 100px;
            height: 200px;


        }

        #sunset-rollercoaster {
            position: absolute;
            width: 50px;
            left: 300px;
        }

        #egg {
            position: absolute;
            top: 20vh;
            left: 30vw;
            width: 20vw;

        }

        #taipei101 {
            position: absolute;
            width: 10vw;
            left: 15vw;
            top: 25vh;

        }


        .scooter-layer {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 15vh;
            left: 25vw;
            ;
            width: 10vw;



        }

        #scooter {
            width: 50px;
            padding: 20px;

        }

        #scooter2 {
            width: 10vw;
            position: absolute;
            top: 50vh;
            left: 40vw;




        }